name: Release

on:
  workflow_dispatch:

jobs:
  ci:
    uses: ./.github/workflows/test.yml

  submit:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - uses: actions/checkout@v5

      - name: Setup Action
        uses: ./.github/workflows/actions/setup

      - name: Zip extensions
        run: |
          yarn zip
          # yarn zip:firefox

      - name: Submit to stores
        run: |
          yarn wxt submit \
            --chrome-zip .output/*-chrome.zip \
            # --firefox-zip .output/*-firefox.zip --firefox-sources-zip .output/*-sources.zip
        env:
          CHROME_EXTENSION_ID: ${{ secrets.CHROME_EXTENSION_ID }}
          CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
          CHROME_CLIENT_SECRET: ${{ secrets.CHROME_CLIENT_SECRET }}
          CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}
          # FIREFOX_EXTENSION_ID: ${{ secrets.FIREFOX_EXTENSION_ID }}
          # FIREFOX_JWT_ISSUER: ${{ secrets.FIREFOX_JWT_ISSUER }}
          # FIREFOX_JWT_SECRET: ${{ secrets.FIREFOX_JWT_SECRET }}
